{% load i18n %}
<h1>{% trans "abhishek" %}</h1>
{% get_current_language as LANGUAGE_CODE %}
<h1>{{ LANGUAGE_CODE }}</h1>
{{title}}
<a href="{% url 'about' %}">About Page</a>

<form action="{% url 'set_language' %}" method="POST">
    {% csrf_token %} 
    <input type="hidden" name="text" value="{{ redirect_to }}">
    <select name="language" id="">
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
            {{ language.name_local }}  {{ language.code }}
        </option>
        {% endfor %}
    </select>
    <input type="submit" value="go">
</form>