<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %} 
    <input type="hidden" name="text" value="{{ redirect_to }}">
    <select name="language" id="">
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for languege in language %}
        <option value="{{ languages.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
            {{ language.name_local }} {{ language.code }}
        </option>
        {% endfor %}
    </select>

</form>